
.Header {
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 4px solid rgb(90, 88, 88);
  background-color: rgb(104, 104, 246);
  position: relative;
}

li {
  list-style-type: none;
  flex-direction: row;
  display: inline-block;
  padding: 10px;
}

input {
  max-width: 300px;
  display: flex;
}

.whatshop {
  color: black;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

.headerlink {
  color: black;
  text-decoration: none;
}

.whatshop:hover {
  color: rgb(255, 166, 0);
}


.headerlink:hover {
  color: rgb(255, 166, 0);
}

.cardStyle {
 text-align: center;
 width: 50%;
}

.AddBrewery {
 margin-left: 30px;
}

.wholeCard {
  display: flex;
  justify-content: center;
transform: translateY(35px);
margin-top: 5px;
}


.searchContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}
