.Breweries {
  background-color: #b2b7bb;
}

.Header {
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #2d5980;
  background-color: #66c010;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
  flex-direction: row;
  display: inline-block;
  padding: 5px;
}

input {
  max-width: 400px;
  display: flex;
}

.form-control {
  width: 500px;
  text-align: left;
  transform: translateY(20px);
  background-color: white;
}

.searchsubmit {
  background-color: #2d5980;
}

.Searchbutton {
  background-color: #2d5980;
  transform: translateY(15px);
}

.whatshop {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: nowrap;
}

.headerlinkbutton {
  color: white;
  text-decoration: none;
  list-style-type: none;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
}

.whatshop:hover {
  color: rgb(138, 136, 136);
}

.headerlinkbutton:hover {
  color: rgb(138, 136, 136);
}

.AddBrewery {
  margin-left: 30px;
}

.cardStyle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  box-shadow: 5px 5px #7ac142;
  background-color: #002145;
  border-radius: 10px;
}

.wholeCard {
  display: flex;
  justify-content: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

button:hover {
  background-color: #A5ACAF;
  color: greenyellow;
}

button {
  background-color: #A5ACAF;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.renderForm {
  text-align: center;
}

.googleButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  background-color: #2d5980;
}

section {
  border: 2px solid;
  margin-top: 10px;
  margin-right: 20%;
  margin-left: 20%;
}

.userSection {
  border: 2px solid;
  margin-top: 50px;
  margin-right: 20%;
  margin-left: 20%;
}

.greeting {
  margin-top: 15px;
  text-align: left;
  margin-left: 90px;
  margin-right: 90px;
  color: white;
}

.signinpromt {
  text-align: center;
  color: white;
}

.signout {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  color: white;
  background-color: #2d5980;
}

.Thankyou {
  text-align: center;
  color: white;
}

.topCityButton {
  margin-left: 10px;
  background-color: #2d5980;
}

.topcityheader {
  display: flex;
  justify-content: center;
}

.CardReviews {
  text-decoration: none;
  color: white;
  border: 1px sold black;
}

.CardText {
  text-decoration: none;
  color: white;
}

.CardDetails {
  margin: 10px;
  text-decoration: none;
  color: white;
  background-color: #A5ACAF;
}

.Searchbutton {
  margin-top: 10px;
}

.review-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #002145;
  color: white;
  width: 250px;
  max-height: 400px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 5px 5px #7ac142;
  border-radius: 10px;
}

.ReviewsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
   display: flex;
  justify-content: center;
}

.ReviewsRoute {
  background-color: #b2b7bb

}

.glossary{
  background-color: #A5ACAF;
  text-decoration: none;
  color: white;
  text-align: center;
}

.mapCard{
  background-color: #A5ACAF;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  }
  
.brewDetailType{
  text-decoration: none;
  color: white;
}

.google {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-bottom: 3px;
}

@media screen and (max-width: 540px) { 

  .Header {
    padding: 10px;
  } 
  /* .headerlinkbutton {
    flex-direction: column;
  } */
  .userSection {
    margin-right: 5%;
    margin-left: 5%;
  } 
   .greeting {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .googleButton {
    height: 30px;
  }
}

@media (max-width: 417px){
  .googleButton {
   margin-top: 50px;
  }
  .form-control {
    width: fit-content;
    max-width: 100%;
  }
}

@media (max-width: 317px){
  .headerlinkbutton {
   transform: translateX(50px);
   margin-right: 1px;
  }

}
@media screen and (min-width: 541px) and (max-width: 767px) {
  .greeting{
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 45px;
  }
}