.Header {
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 4px solid rgb(90, 88, 88);
  background-color: rgb(104, 104, 246);
  position: relative;
}

li {
  list-style-type: none;
  flex-direction: row;
  display: inline-block;
  padding: 5px;
}

input {
  max-width: 300px;
  display: flex;
}

.form-control {
  width: 500px;
  text-align: center;
}

.whatshop {
  color: black;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: nowrap;
}

.headerlink {
  color: black;
  text-decoration: none;
  list-style-type: none;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
}

.whatshop:hover {
  color: rgb(255, 166, 0);
}

.headerlink:hover {
  color: rgb(255, 166, 0);
}

.AddBrewery {
  margin-left: 30px;
}

.cardStyle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  box-shadow: 5px 5px grey;
}

.wholeCard {
  display: flex;
  justify-content: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

button:hover {
  background-color: green;
}

button {
  background-color: rgb(124, 124, 186);
  border-radius: 5px;
  margin-bottom: 10px;
}

.renderForm {
  text-align: center;
}

.googleButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

section {
  border: 2px solid;
  margin-top: 10px;
  margin-right: 20%;
  margin-left: 20%;
}

.userSection {
  border: 2px solid;
  margin-top: 50px;
  margin-right: 20%;
  margin-left: 20%;
}

.Starbutton {
  margin-left: 10px;
  margin-right: 10px;
}

.greeting {
  margin-top: 15px;
  text-align: left;
  margin-left: 90px;
  margin-right: 90px;
}

.signinpromt {
  text-align: center;
  margin-top: 50px;
}

.signout {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.Thankyou {
  text-align: center;
  margin-top: 50px;
}

.topCityButton {
  margin-left: 10px;
}

.topcityheader {
  display: flex;
  justify-content: center;
}

.CardReviews {
  text-decoration: none;
  color: black;
  border: 1px sold black;
}

.CardDetails {
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px sold black;
}

.Searchbutton {
  margin-top: 10px;
}

@media  (max-width: 1000px) {

}